@import url("https://fonts.googleapis.com/css2?family=Kreon:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* :root {
  --health-bar-player-width: 100%;
  --health-bar-beast-width: 100%;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Kreon", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.15;
}

/* Remove Tap Highlight */
button,
a {
  -webkit-tap-highlight-color: transparent;
}

a {
  color: slategray;
  text-decoration: none;
}

a:hover {
  color: darkslategray;
}

.italic {
  font-style: italic;
}

.container {
  /* border: 1px solid red; */
  display: flex;
  width: 100%;
  height: 100svh;
}

.intro-container {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1em;
  font-size: 1.5em;
  gap: 0.75em;
  text-align: center;
}

.intro-container button {
  font-size: 0.75em;
  padding: 0.25em;
}

.title-image {
  width: 350px;
  height: auto;
}

@media (width < 450px) {
  .title-image {
    width: 75vw;
  }
}

@media (height < 600px) {
  .title-image {
    width: 60svh;
  }
}

.name-form {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.input-name {
  text-align: center;
  font-size: 0.75em;
}

.error-text {
  color: red;
  font-size: 0.5em;
  visibility: hidden;
  min-height: 1.25em;
}

.game-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  /* height: 100%; */
  width: 100vw;
  height: 100svh;
}

.game-image-container {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  /* height: 100svh; */
  /* min-width: 65vw; */
  /* min-width: 65%; */
  width: 100%;
  height: 100%;
  /* max-width: 60vw; */
  /* aspect-ratio: 16/9; */
  justify-content: center;
  align-items: center;
  /* background-color: black; */
  color: lightgray;
  text-shadow: 1px 1px 2px black;
  gap: 1em;
  position: relative;
  /* background-image: url("img/temp.jpg"); */
  background-size: cover;
  background-position: center;
  /* animation: 0.5s fade-in ease; */
  /* transition: background-image 0.15s ease-in-out; */
  overflow: hidden;
}

.game-image {
  /* border: 1px solid red; */
  height: 100%;
  width: auto;
  position: absolute;
  z-index: -1;
  /* transition: display 0.15s ease-in-out; */
}

.game-icons-container {
  /* border: 1px solid red; */
  display: flex;
  gap: 1em;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1em;
}

.game-icon-btn {
  border: none;
  /* border: 1px solid white; */
  height: 50px;
  background-color: transparent;
  /* background-color: purple; */
}

.game-icon {
  /* border: 1px solid blue; */
  /* display: block; */
  height: 100%;
  width: auto;
  cursor: pointer;
}

.menu-open {
  filter: drop-shadow(0px 0px 4px white) brightness(125%);
  /* filter: brightness(150%); */
}

.map-image-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.settings-menu-container {
  /* border: 1px solid black; */
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  position: fixed;
  background-color: lightgray;
  color: black;
  text-shadow: none;
  right: 0.5em;
  padding: 1em 0;
  gap: 1em;
  pointer-events: none;
  opacity: 0;
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  z-index: 10;
}
.settings-menu-container h3 {
  /* border: 1px solid red; */
  padding-left: 2em;
}

.settings-buttons-container {
  /* border: 1px solid red; */
  display: flex;
  text-align: left;
  flex-direction: column;
  gap: 0.5em;
}

.settings-buttons-container button {
  border: none;
  background-color: transparent;
  text-align: left;
  font-size: 1.15em;
  padding: 0 2em;
}

.settings-buttons-container button:enabled {
  cursor: pointer;
}

.settings-buttons-container button:hover:enabled {
  /* color: red; */
  background-color: darkgray;
}

.restart-confirmation-container,
.change-name-container,
.about-container {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  background-color: lightgray;
  z-index: 15;
  color: black;
  text-shadow: none;
  top: 50%;
  left: 50%;
  padding: 1em;
  font-size: 1.2em;
  gap: 1em;
  transform: translate(-50%, -50%);
  width: 250px;
}

.change-name-container {
  width: 300px;
  padding-top: 1.5em;
  padding-bottom: 0.5em;
}

.change-name-container input {
  font-size: 1em;
}

.change-name-container .error-text {
  font-size: 0.75em;
}

.about-container {
  /* border: 1px solid red; */
  height: 85%;
  max-width: 500px;
  width: 85%;
  max-width: 500px;
  padding: 0;
}

.about-content {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 1em;
  align-items: center;
  gap: 1em;
}

.about-img {
  height: 500px;
  max-width: 85%;
}

.about-container-text {
  font-size: 1.25em;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  /* gap: 1em; */
  margin: 0 0.5em;
}

.about-container-text h4 {
  margin: 1em 0 0.25em 0;
}

.about-container-text ul {
  /* border: 1px solid red; */
  margin-bottom: 0.5em;
}

.about-container-text li {
  /* border: 1px solid red; */
  margin-left: 1.25em;
}

.btns-container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 0.5em;
}

.confirmation-btn {
  font-size: 1em;
  padding: 0.25em;
  width: 50%;
}

.restart-confirmation-container button {
  font-size: 1em;
  padding: 0.25em;
  /* width: 50%; */
}

.change-name-container button {
  font-size: 1em;
  padding: 0.25em;
}

.game-text-relative-container {
  /* border: 1px solid green; */
  min-width: 45%;
  max-width: 45%;
  height: 100%;
  position: relative;
}

.game-text-container {
  /* border: 1px solid purple; */
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 100%;
  /* gap: 1em; */
  padding: 0 2em 1em 2em;
  text-align: center;
  /* background-color: yellow; */
}

.game-text {
  /* border: 1px solid green; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  height: 55%;
  width: 100%;
  /* font-size: 2em; */
  /* font-size: 16px; */
  /* font-size: 1.5vw; */
  /* font-size: 2em; */
  /* margin-top: 3em; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 2em;
  /* gap: 1em; */
  z-index: -1;
}

.game-text-non-end {
  /* border: 1px solid blue; */
  height: 60%;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -35%);
}

.game-text-pre-end {
  /* border: 1px solid red; */
  height: 50%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -55%);
}

.game-text-text {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  /* font-size: 1em; */
  /* font-size: 30px; */
  /* font-size: 1.5vw; */
  /* font-size: 2em; */
  /* margin-top: 3em; */
  /* position: absolute; */
  /* top: 10%; */
  /* left: 50%; */
  /* transform: translate(-50%); */
  /* padding: 0 1em; */
  gap: 1em;
  opacity: 0;
  /* animation: 0.5s fade-in ease; */
}

/* .fade-in {
  animation: 0.5s fade-in ease;
} */

.fade-in-text {
  animation: 0.5s fade-in ease;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.guessing-ui-container {
  /* border: 1px solid orange; */
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  /* height: 150px; */
  width: 100%;
  gap: 1em;
}

.your-guess {
  /* border: 1px solid red; */
  height: 35px;
  width: 75px;
  line-height: 1em;
  /* width: 100px; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 0;
  font-size: 3em;
  font-weight: 600;
  color: red;
}

.number-btns-container {
  /* border: 1px solid red; */
  display: flex;
  /* display: grid; */
  /* grid-template-columns: repeat(10, 1fr); */
  /* justify-content: flex-start; */
  /* gap: 1em; */
  /* flex-wrap: wrap; */
  opacity: 0;
}

/* @media (width < 1450px) {
  .number-btns-container {
    grid-template-columns: repeat(5, 1fr);
  }
} */

.number-btn {
  /* border: 1px solid red; */
  /* width: 20px; */
  /* aspect-ratio: 1/1; */
  /* font-size: 1.5em; */
}

.action-btn {
  /* border: 1px solid red; */
  display: flex;
}

.guess-btns {
  /* border: 1px solid red; */
  display: flex;
  gap: 1em;
}

.guess-btns button,
.action-btn button {
  font-size: 1.25em;
  padding: 0.25em;
}

.quest-log-container {
  border: 1px solid gray;
  box-shadow: 1px 1px 5px 1px black;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  /* min-height: 200px; */
  /* width: 500px; */
  display: flex;
  gap: 1em;
  padding-top: 1em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 85%;
  width: 85%;
  max-width: 500px;
  background-color: lightgray;
  z-index: 1;
  color: black;
  text-shadow: none;
}

.close-X {
  border: none;
  /* border: 1px solid black; */
  position: absolute;
  line-height: 1;
  width: 1lh;
  top: 0.25em;
  right: 0.5em;
  font-size: 2em;
  /* margin-right: 0.25em; */
  /* margin: 1em; */
  color: gray;
  background-color: transparent;
  cursor: pointer;
}

.quest-log {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
  overflow-y: auto;
  position: relative;
  /* margin: 1em; */
  font-size: 1.15em;
  padding: 1em;
}

.quest-log-gradient {
  /* border: 1px solid red; */
  height: 20%;
  width: 100%;
  top: 2.5em;
  left: 0;
  background: linear-gradient(to top, transparent 0%, lightgray 90%);
  position: fixed;
}

.quest-log-ul {
  list-style: none;
  padding: 0px;
}

.quest-log-ul li:not(:last-child) {
  margin-bottom: 1em;
}

/* .quest-log-ul li.quest-log-health-li:not(:last-child) {
  margin-bottom: 1em;
} */

.quest-log-ul li:nth-last-child(2) {
  margin-bottom: 2em;
}
.quest-log-ul li:last-child {
  /* border: 1px solid red; */
  /* background-color: lightgoldenrodyellow; */
  background-color: darkgray;
  margin: -1em;
  padding: 1em;
}

.quest-log-ul li::before {
  /* border: 1px solid red; */
  margin-right: 0.25em;
}

.quest-log-name-li::before {
  content: "💫";
}
.quest-log-fight-li::before {
  content: "⚔️";
}

.quest-log-other-li::before {
  content: "💬";
}

.quest-log-guess-li::before {
  content: "❓";
}

.quest-log-health-li::before {
  content: "❤️";
}

.quest-log-win-li::before {
  content: "⭐";
}

.quest-log-victory-li::before {
  content: "🏆";
}

.quest-log-lose-li::before {
  content: "💀";
}

.hearts-container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  position: absolute;
  /* top: 0; */
  /* left: 0; */
  margin: 1em;
  user-select: none;
  gap: 0;
}

.hearts {
  /* border: 1px solid blue; */
  display: flex;
  gap: 0.5em;
  line-height: 1;
}

.heart {
  /* height: 50px; */
  height: 5svh;
}

.guesses {
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  /* height: 20px; */
  /* gap: 1.5em; */
  /* position: absolute; */
  /* top: 2.5em; */
  /* left: 0; */
  /* margin: 1em; */
  /* font-size: 1.25vw; */
}

/* .guesses-last-level {
  top: 3.5em;
  left: 50%;
  transform: translate(-50%);
  width: 95%;
  margin: 0;
} */

.guesses span::after {
  content: "|";
  margin: 0.35em;
  color: lightgray;
}

.container span:last-child::after {
  content: "";
}

.health-UI {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 1em;
  left: 50%;
  transform: translate(-50%);
  /* height: 2.25em; */
  width: 95%;
  /* line-height: 1; */
}

.health-bar-upper {
  display: flex;
  justify-content: space-between;
}

.health-bar-name {
  /* color: white;
  text-shadow: 1px 1px 1px black, -1px -1px 1px black, -1px 1px 1px black,
    1px -1px 1px black; */
}

.health-bar-damage-number {
  opacity: 0%;
  color: #be2225;
  animation: fade-in-out 2s ease;
  /* animation */
}

.animate-damage-number {
  animation: fade-in-out 2s ease;
}

@keyframes fade-in-out {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

.health-bar-container {
  /* border: 1px solid black; */
  /* color: red; */
  /* height: 100%; */
  height: 1em;
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
}

.health-bar-player,
.health-bar-beast {
  /* border: 2px solid black; */
  /* border-right: 1px solid black; */
  height: 1em;
  background-color: #dccd26;
  color: black;
  position: absolute;
  bottom: 0;
  z-index: 1;
  /* padding: 0.5em; */
}

.health-bar-player-static,
.health-bar-beast-static {
  /* border: 2px solid black; */
  border-right: 2px solid white;
  height: 1em;
  /* background-color: #be2225; */
  background: linear-gradient(to right, #be2225 98%, #f7999b);
  color: black;
  position: absolute;
  bottom: 0;
  z-index: 2;
  /* padding: 0.5em; */
}

.health-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5em;
  text-shadow: 1px 1px 1px black, -1px -1px 1px black, -1px 1px 1px black,
    1px -1px 1px black;
  z-index: 3;
}

@media (orientation: portrait) {
  .game-container {
    flex-direction: column;
  }

  .game-image-container {
    /* border: 1px solid blue; */
    width: 100vw;
    /* min-height: 100vw; */
    /* max-height: 100vw; */
    /* height: 100px; */
    min-height: calc(100vw * (9 / 16));
    max-height: calc(100vw * (9 / 16));
    /* aspect-ratio: 16/9; */
  }

  .game-image {
    /* border: 1px solid red; */
    width: 100%;
    height: auto;
  }

  .game-icons-container {
    /* border: 1px solid red; */
    gap: 0.5em;
    margin: 0.5em;
  }

  .game-icon-btn {
    height: 30px;
  }

  .map-image {
    width: 95vw;
    height: auto;
  }

  .game-text-relative-container {
    /* border: 1px solid green; */
    min-width: 100%;
  }

  .game-text-container {
    /* border: 1px solid purple; */
    padding-bottom: 0.5em;
  }

  .game-text {
    /* border: 1px solid green; */
    height: 60%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -55%);
    padding: 0 1em;
  }

  .game-text-non-end {
    /* border: 1px solid blue; */
    height: 70%;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -35%);
  }

  .game-text-pre-end {
    /* border: 1px solid red; */
    height: 60%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -55%);
  }

  .game-text-text {
    gap: 0.5em;
  }

  .heart {
    /* height: 25px; */
    /* height: 10vw; */
  }

  .guesses {
    /* border: 1px solid red; */
    /* top: 1.5em; */
    /* margin-top: 0.25em; */
    /* font-size: 0.9em; */
  }

  .guessing-ui-container {
    /* border: 1px solid orange; */
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 0.35em;
  }

  .your-guess {
    /* border: 1px solid red; */
    /* height: 100%; */
    /* width: 100px; */
    height: 100%;
    font-size: 2em;
  }

  .number-btns-container {
    /* border: 1px solid red; */
    gap: 1.5vw;
  }

  .number-btn {
    /* border: 1px solid red; */
    height: 8vw;
    font-size: 4.5vw;
  }

  .health-UI {
    /* border: 1px solid black; */
    top: 0.5em;
  }

  /* .quest-log-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    min-width: 85%;
  } */
}

@media (orientation: landscape) {
  .map-image {
    width: auto;
    height: 95svh;
  }
}

@media ((orientation: landscape) and (height < 400px)) {
  .game-text {
    /* border: 1px solid green; */
    height: 50%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
  }

  .game-text-non-end {
    /* border: 1px solid blue; */
    height: 50%;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -35%);
  }

  .game-text-pre-end {
    /* border: 1px solid red; */
    height: 50%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -55%);
  }
}

@media ((orientation: landscape) and (height < 600px) and (width < 1100px)) {
  /* .quest-log-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    min-width: 85%;
  } */

  .guessing-ui-container {
    /* border: 1px solid orange; */
    gap: 0.35em;
  }

  .your-guess {
    height: 100%;
    font-size: 2em;
  }
}

@media ((orientation: landscape) and (width < 1000px)) {
  .game-icons-container {
    /* border: 1px solid red; */
    gap: 0.5em;
    margin: 0.5em;
  }

  .game-icon-btn {
    height: 30px;
  }
}

@media ((orientation: landscape) and (width < 800px)) {
  .game-text-container {
    /* border: 1px solid purple; */
    padding: 0 0.5em 1em 0.5em;
  }

  .game-text {
    padding: 0 1em;
  }

  .game-text-text {
    gap: 0.5em;
  }

  .hearts {
    /* border: 1px solid blue; */
    gap: 0.25em;
  }
}

/* @media (orientation: landscape ) and (height < ) {

} */

/* Handle "short" portrait devices  */
/* @media (max-aspect-ratio: 1/2) {
  .game-text {
    border: 1px solid green;
    font-size: 4vw;
  }
}

@media (max-aspect-ratio: 1/3) {
  .game-text {
    border: 1px solid blue;
    font-size: 2vw;
  }

  .number-btns-container {
    border: 1px solid red;
    gap: 1.5vw;
  }

  .number-btn {
    border: 1px solid red;
    height: 5vw;
    font-size: 3.5vw;
  }
} */
