@import url("https://fonts.googleapis.com/css2?family=Kreon:wght@300..700&display=swap");

/* :root {
  --health-bar-player-width: 100%;
  --health-bar-beast-width: 100%;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Kreon", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.italic {
  font-style: italic;
}

.container {
  border: 1px solid red;
  display: flex;
  width: 100%;
  height: 100svh;
}

.intro-container {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 2em;
  font-size: 2em;
  gap: 1em;
  text-align: center;
}

.name-form {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.input-name {
  text-align: center;
  font-size: 0.75em;
}

.game-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media (orientation: portrait) {
  .game-container {
    flex-direction: column;
  }
}

.game-image {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  height: 100svh;
  aspect-ratio: 1/1;
  justify-content: center;
  align-items: center;
  background-color: dimgray;
  gap: 1em;
  position: relative;
}

.game-text-relative-container {
  /* border: 1px solid green; */
  width: 100%;
  height: 100%;
  position: relative;
}

.game-text-container {
  border: 1px solid purple;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 1em;
  padding: 2em;
  text-align: center;
  /* background-color: yellow; */
}

.guessing-ui-container {
  /* border: 1px solid orange; */
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 150px;
  gap: 1em;
}

.game-text {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 2em;
  margin-top: 1em;
  gap: 1em;
}

.number-btns-container {
  /* border: 1px solid red; */
  display: flex;
  gap: 1em;
}

.number-btn {
  height: 40px;
  aspect-ratio: 1/1;
}

.guess-btns {
  display: flex;
  gap: 1em;
}

.logbook-button-container {
  position: absolute;
  bottom: 0;
  right: 0;
}

.logbook {
  border: 1px solid black;
  box-shadow: 5px 5px 10px 1px black;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  /* min-height: 200px; */
  /* width: 500px; */
  display: flex;
  gap: 1em;
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70%;
  max-width: 50%;
  background-color: gray;
}

.close-X {
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2em;
  margin-right: 0.25em;
  background-color: transparent;
  cursor: pointer;
}

.battle-log {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  /* width: 100%; */
  overflow: hidden;
  position: relative;
}

.battle-log-gradient {
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, transparent 90%, gray 100%);
  position: absolute;
}

.battle-log-ul {
  list-style: none;
  padding: 0px;
}

.battle-log-ul li:not(:last-child) {
  margin-bottom: 0.5em;
}

.battle-log-ul li.battle-log-health-li:not(:last-child) {
  margin-bottom: 1em;
}

.battle-log-fight-li::before {
  content: "⚔️";
  margin-right: 0.5em;
}

.battle-log-health-li::before {
  content: "❤️";
  margin-right: 0.5em;
  margin-left: 1em;
}

.hearts-container {
  /* border: 1px solid red; */
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0.5em;
  user-select: none;
}

.heart {
  height: 50px;
}

.guesses {
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  height: 20px;
  /* gap: 1.5em; */
  position: absolute;
  top: 2.5em;
  left: 0;
  margin: 1em;
}

.guesses-last-level {
  top: 3.5em;
  left: 50%;
  transform: translate(-50%);
  width: 95%;
  margin: 0;
}

.guesses span::after {
  content: "|";
  margin: 0.35em;
  color: lightgray;
}

.container span:last-child::after {
  content: "";
}

.your-guess {
  /* border: 1px solid red; */
  height: 100%;
  /* width: 100px; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 0;
  font-size: 3em;
  font-weight: 600;
  color: red;
}

.health-UI {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 1em;
  left: 50%;
  transform: translate(-50%);
  /* height: 2.25em; */
  width: 95%;
  /* line-height: 1; */
}

.health-bar-upper {
  display: flex;
  justify-content: space-between;
}

.health-bar-name {
  /* color: white;
  text-shadow: 1px 1px 1px black, -1px -1px 1px black, -1px 1px 1px black,
    1px -1px 1px black; */
}

.health-bar-damage-number {
  opacity: 0%;
  color: #be2225;
  animation: fade-in-out 2s ease;
  /* animation */
}

.animate-damage-number {
  animation: fade-in-out 2s ease;
}

@keyframes fade-in-out {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

.health-bar-container {
  /* border: 1px solid black; */
  /* color: red; */
  /* height: 100%; */
  height: 1em;
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
}

.health-bar-player,
.health-bar-beast {
  /* border: 2px solid black; */
  /* border-right: 1px solid black; */
  height: 1em;
  background-color: #dccd26;
  color: black;
  position: absolute;
  bottom: 0;
  z-index: 1;
  /* padding: 0.5em; */
}

.health-bar-player-static,
.health-bar-beast-static {
  /* border: 2px solid black; */
  border-right: 2px solid white;
  height: 1em;
  /* background-color: #be2225; */
  background: linear-gradient(to right, #be2225 98%, #f7999b);
  color: black;
  position: absolute;
  bottom: 0;
  z-index: 2;
  /* padding: 0.5em; */
}

.health-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5em;
  text-shadow: 1px 1px 1px black, -1px -1px 1px black, -1px 1px 1px black,
    1px -1px 1px black;
  z-index: 3;
}
